@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

@import "tailwindcss";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  --font-header: "Cirka", sans-serif;
  --font-body: "NeueMontreal", sans-serif;
  --font-subheader: "Caveat", cursive;

  --color-bg: #fffcf8;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest;
}

@plugin "@tailwindcss/typography";
@plugin '@tailwindcss/forms';

@layer base {
  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Cirka";
    src: url("/fonts/Cirka-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Cirka";
    src: url("/fonts/Cirka-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
