---
import Polaroid from './Polaroid.astro';
---

<!-- Text Box -->
<section class="mx-10 sm:mx-20 md:mx-45 lg:mx-80 text-black">
    <h1 class="font-header text-[32px] md:text-[48px] text-center pb-5">MØD HOLDET</h1>
    <p class="font-body text-[12px] md:text-[24px]">Mød vores  fastansatte herunder. Det er dem, som driver Studenterhus Odense,  Generator og Spoken Word Festival til dagligt, og du er altid velkommen  til at kontakte dem på mail, hvis du har nogen spørgsmål.</p>
</section>

<!-- Polaroid Section -->
<section class="flex flex-col items-center md:grid lg:grid-cols-3 md:grid-cols-2 justify-items-center mt-30">
    <div class="rotate-1">
<Polaroid
		src="public/sophie.png"
		name="Sophie Alexia Narup Drewsen"
		mail="SOPHIE@STUDENTERHUS.DK"
		desc="Sophie er en sej person"
	/>
    </div>
        <div class="-rotate-2">
<Polaroid
		src="public/sophie.png"
		name="Sophie Alexia Narup Drewsen"
		mail="SOPHIE@STUDENTERHUS.DK"
		desc="Sophie er en sej person"
	/>
    </div>
        <div class="rotate-1">
<Polaroid
		src="public/sophie.png"
		name="Sophie Alexia Narup Drewsen"
		mail="SOPHIE@STUDENTERHUS.DK"
		desc="Sophie er en sej person"
	/>
    </div>
       <div class="-rotate-2">
<Polaroid
		src="public/sophie.png"
		name="Sophie Alexia Narup Drewsen"
		mail="SOPHIE@STUDENTERHUS.DK"
		desc="Sophie er en sej person"
	/>
    </div>
        <div class="rotate-1">
<Polaroid
		src="public/sophie.png"
		name="Sophie Alexia Narup Drewsen"
		mail="SOPHIE@STUDENTERHUS.DK"
		desc="Sophie er en sej person"
	/>
    </div>
        <div class="-rotate-2">
<Polaroid
		src="public/sophie.png"
		name="Sophie Alexia Narup Drewsen"
		mail="SOPHIE@STUDENTERHUS.DK"
		desc="Sophie er en sej person"
	/>
    </div>
</section>