---
---
<div class="flex flex-col bg-white text-black bg-[url('footerbgmobile.svg')] lg:bg-[url('footerbgdesk.svg')] bg-cover">
    <div class="flex flex-col m-10 lg:grid lg:grid-cols-4 m-auto lg:place-items-center">
        <div><img class="h-20 w-auto sm:h-22 md:h-24" src="sho_logo_black.svg" alt=""></div>
        <div class="flex flex-col font-bold text-[20px] my-6">
            <a class="my-1" href="Vedtægter">Vedtægter</a>
            <a class="my-1" href="Cookiepolitik">Cookiepolitik</a>
            <a class="my-1" href="Logopakke">Logopakke</a>
            <a class="my-1" href="Persondatapolitik">Persondatapolitik</a>
            <a class="my-1" href="Drifstaftale og regnskaber">Drifstaftale og regnskaber</a>
            <a class="my-1" href="Bestyrelsen">Bestyrelsen</a>
        </div>
        <div class="flex flex-col text-[16px] my-6">
            <p class="my-1">info@studenterhus.dk</p>
            <p class="my-1">+45 42 72 01 38</p>
            <p class="my-1">Amfipladsen 6, 5000 Odense</p>
            <div class="grid grid-cols-3 my-1">
                <a><img src="facebook.svg" alt=""></a>
                <a><img src="instagram.svg" alt=""></a>
                <a><img src="tiktok.svg" alt=""></a>
            </div>
        </div>
        <div class="flex flex-col text-[16px] my-6">
            <p class="my-1">Åbningstider // Café & Bar</p>
            <p class="my-1">MAN-ONS 10.00-22.00</p>
            <p class="my-1">TOR-LØR 10.00-24.00</p>
            <p class="my-1">SØN 12.00-18.00</p>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row">
        <div class="flex">
            <img src="odensekommune.png" alt="">
            <img src="albani.png" alt="">
            <img src="sdu.png" alt="">
        </div>
        <div class="flex">
            <img src="skf.png" alt="">
            <img src="sdmusik.png" alt="">
            <img src="ucl.png" alt="">
        </div>
    </div>
</div>
  