---

---
<style>
    /* Add any custom styles here if needed */
</style>

<div class="flex justify-between items-center p-4 bg-[url(/subheaderbg.svg)]">
    <div class="flex items-center">
        <img class="h-10 w-auto sm:h-12 md:h-14" src="sho_logo_black.svg" alt="SHO_Black">
    </div>
    <div class="cursor-pointer flex flex-col justify-between w-4 h-4 sm:w-6 sm:h-6 md:w-8 md:h-8" onclick="toggleMenu()">
        <div class="h-0.5 w-full bg-black transition-all duration-300 ease-in-out"></div>
        <div class="h-0.5 w-full bg-black transition-all duration-300 ease-in-out"></div>
        <div class="h-0.5 w-full bg-black transition-all duration-300 ease-in-out"></div>
    </div>
</div>

<script>
    function toggleMenu() {
        // Logic to toggle the menu
        alert('Menu toggled!'); // Placeholder for menu functionality
    }
</script>

