---
---
<!--Header-->
<section class="mx-10 sm:mx-20 md:mx-45 lg:mx-80 text-black">
    <h1 class="font-header text-[32px] md:text-[48px] text-center pb-5">OM STUDENTERHUS ODENSE</h1>
    <p class="font-body text-[12px] md:text-[24px]">Studenterhus Odense er et kulturelt, socialt og fagligt samlingspunkt beliggende i  hjertet af Odense. Vi har i snart to årtier dedikeret vores tid til at  skabe et levende og mangfoldigt studie- og ungdomsmiljø i Odense.</p>
</section>

<!--Cards Section-->
<section class="flex flex-col items-center md:grid grid-cols-3 justify-items-center items-start">
<!--Card 1-->
<div class="bg-[url(public/BG22.png)] bg-cover bg-center mx-5 md:mx-10 my-5 md:my-10 p-8 text-black rounded-lg shadow-lg">
    <h2 class="font-header text-[32px] md:text-[36px] py-2">Fagligt</h2>
    <p class="font-body text-[12px] md:text-[20px]">Studenterhus Odense er altid åben for, at studerende kan sidde og læse, skrive eller arbejde i grupper i vores caféområde, Salen eller Studiezonen. Derudover tilbyder vi  forskellige faglige aktiviteter som f.eks. workshops, foredrag,  infomøder og debatarrangementer.</p>
</div>
<!--Card 2-->
<div class="bg-[url(public/BG15.png)] bg-cover bg-center mx-5 md:mx-10 my-5 md:my-10 p-8 text-black rounded-lg shadow-lg">
    <h2 class="font-header text-[32px] md:text-[36px] py-2">Socialt & Kulturelt</h2>
    <p class="font-body text-[12px] md:text-[20px]">Studenterhus Odense er et socialt samlingssted, hvor alle er velkommen til at mødes over en kop kaffe  eller en øl, spille brætspil eller deltage i en af vores mange  arrangementer som bl.a. koncerter, foredrag, brætspilsaftener,  workshops, stand-op, karaoke og meget mere.</p>
</div>
<!--Card 3-->
<div class="bg-[url(public/BG12.png)] bg-cover bg-center mx-5 md:mx-10 my-5 md:my-10 p-8 text-black rounded-lg shadow-lg">
    <h2 class="font-header text-[32px] md:text-[36px] py-2">Frivillighed</h2>
    <p class="font-body text-[12px] md:text-[20px]">Frivillighed er en stor del af  Studenterhus Odenses identitet. Vi har en stor gruppe af frivillige med  forskellige opgaver og funktioner, og du vil kunne møde mange af vores  frivillige i huset. Som frivillig hos os kan man bl.a. være en del af  bestyrelsen, stå i baren og servicere gæster, lave kommunikation og  SoMe, hjælpe til ved events og meget mere.</p>
</div>
</section>
<!--Card 4-->
<div class="bg-[url(public/BG28.png)] bg-cover bg-center mx-5 md:mx-50 my-5 md:my-10 p-8 text-black rounded-lg shadow-lg">
    <h2 class="font-header text-[32px] md:text-[36px] py-2">Vision og Mission</h2>
    <div class="font-body text-[12px] md:text-[20px]">
    <p class="mt-3">Foreningen Studenterhus Odense er en non-profit organisation, som drives af en  mindre gruppe af fastansatte samt en række engagerede praktikanter og  frivillige.
</p>
        <p class="mt-3">
Vores mission er at skabe et fagligt, socialt og kulturelt samlingspunkt i  Odense, hvor Odenses ca. 25.000+ studerende kan mødes på tværs af  studier og uddannelsesinstitutioner. Det er vores vision, at  Studenterhus Odense skal være en aktiv del af de studerendes liv – vi  ønsker at være stedet, hvor de studerende mødes, lærer og bliver  underholdt. 
</p>
<p class="mt-3">
Udover gode studiefaciliteter til opgaveskrivning, pensumlæsning og  gruppearbejde tilbyder vi også en bred vifte af arrangementer med alt  fra workshops og foredrag til fredagsbar, stand-up og koncerter.
</p>
</div>
</div>